.card{
    margin-top:300px;
    border:none;
    width:500px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgb(19, 151, 245);
    background:linear-gradient(90deg,rgb(11, 68, 109)0%,hsla(260,29%,36%,1)100%);

}