<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <a class="navbar-brand text-white fw-bold" href="#">Bigbasket</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/allretailers">Retailers</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-danger" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
<router-outlet></router-outlet>
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Supermarket</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let retailer of retailers">
      <td>{{retailer.username}}</td>
      <td>{{retailer.address}}</td>
     
    </tr>
  </tbody>
</table> -->
