<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <form [formGroup]="formGroup" class="form" (ngSubmit)="loginprocess()">
          <h1>Login</h1>
            <div class="form-group">
              <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
            </div>

            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" formControlName="Password">
            </div>
            
            <button type="submit"  id="submit">Login</button>
        </form>
        
    </div>

</div>
