<div class="col-md-4 offset-md-4 mt-4">
  <form class='form'>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of plans.result">
            <td>{{plan.name}}</td>
            <td>{{plan.amount}}</td>
            <td>{{plan.details}}</td>
          </tr>
        </tbody>
      </table>
      </form>
</div>
